.popup__profile-link {
    display: flex;
    color: #FFF;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    gap: 7px;
}

.popup__profile-link:hover {
    opacity: 70%;
}