.search__input {
    background-color: transparent;
    border: none;
    color: #8B8B8B;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 450px) {
    .search__input {
        font-size: 18px;
        line-height: 22px;
    }
}