.footer__links {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    gap: 20px;    
}

@media (max-width: 450px) {
    .footer__links {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
}