.sign {
    margin: 0 auto;
    padding: 68px 0;
    justify-items: center;
    width: 396px;
}

@media (max-width: 1024px) {
    .sign {
        padding: 230px 0;
    }
}

@media (max-width: 450px) {
    .sign {
        padding: 56px 30px;
        width: 260px;
    }
}