.technologies__elements {
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline: unset;
    justify-content: center;
    gap: 10px;
    max-width: 690px;
}

@media (max-width: 1024px) {
    .technologies__elements {
        margin: 85px auto 0;
    }
}

@media (max-width: 450px) {
    .technologies__elements {
        display: grid;
        grid-template-columns: 84px 84px;
        margin: 48px auto 0;
    }
}