.land__text {
    margin: 36px 0 146px;
    font-size: 13px;
    line-height: 15.73px;
    font-weight: 400;
    max-width: 310px;
    opacity: 50%;
}

@media (max-width: 1024px) {
    .land__text {        
        max-width: 260px;
        margin: 22px 0 92px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .land__text {        
        margin: 24px 0 80px;
    }
}