.sign__button {
    background-color:#4285F4;
    text-decoration: none;
    border: none;
    border-radius: 3px; 
    color: #FFF;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    padding: 13px 126px 15px 124px;
    margin: 91px 0 16px;
    width: 100%;
}

.sign__button:hover {
    opacity: 80%;
}