.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
}

@media (max-width: 450px) {
    .footer__copyright {
        flex-direction: column-reverse;
        padding: 18px 0 0;
        font-size: 12px;
        line-height: 13.73px;
    }
}