.description {
    padding: 112px 70px 80px;    
}

@media (max-width: 1024px) {
    .description {        
        padding: 90px 50px 60px; 
    }
}

@media (max-width: 450px) {
    .description {        
        padding: 71px 18px 61px; 
    }
}