.technologies__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 460px;
    text-align: center;
    letter-spacing: -0.04em;  
}

@media (max-width: 1024px) {
    .technologies__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 450px) {
    .technologies__text {
        font-size: 11px;
        line-height: 17px;
    }
}