.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 32px;
    max-width: 1140px;
    padding-bottom: 30px;
}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(339px, 339px));
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        gap: 20px;
    }
}