.sign__login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8B8B8B;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    gap: 6px;
}