.page-error__link {
    text-decoration: none;
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin: 0;
    padding-bottom: 60px;
}

.page-error__link:hover {
    opacity: 70%;
}

@media (max-width: 1024px) {
    .page-error__link {
        margin-bottom: 152px;
    }
}

@media (max-width: 450px) {
    .page-error__link {
        font-size: 12px;
        line-height: 14.52px;
    }
}