.main {
    min-height: 70vh;
}

.section-title {
    margin: 0;
    font-size: 22px;
    line-height: 26.63px;
    font-weight: 400;
    padding-bottom: 23px;
    border-bottom: 1px #DADADA solid;
    letter-spacing: -0.04em;
}

@media (max-width: 450px) {
    .section-title {        
        font-size: 18px;
        line-height: 22.63px;
        padding-bottom: 28px;
    }
}

.land {
    display: flex;
    position: relative;
    align-content: space-between;
    background-color: #073042;
    column-gap: 190px;
    padding: 73px 70px;
}

@media (max-width: 1024px) {
    .land {
        flex-direction: column-reverse;
        gap: 48px;
        align-items: center;
        padding: 139px 70px 77px;
    }
}

@media (max-width: 500px) {
    .land {
        gap: 44px;
        padding: 68px 30px 30px;
    }
}

.land__title {
    margin: 0;
    max-width: 640px;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .land__title {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        max-width: 680px;
    }
}

@media (max-width: 500px) {
    .land__title {
        font-size: 30px;
        line-height: 38px;
        max-width: 300px;
        letter-spacing: -0.04em;
    }
}

.land__title-space {
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .land__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.land__text {
    margin: 36px 0 146px;
    font-size: 13px;
    line-height: 15.73px;
    font-weight: 400;
    max-width: 310px;
    opacity: 50%;
}

@media (max-width: 1024px) {
    .land__text {        
        max-width: 260px;
        margin: 22px 0 90px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .land__text {        
        margin: 26px 0 78px;
    }
}

.land__button {
    background-color: #073042;
    border: 1px rgba(255, 255, 255, 0.6) solid;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFF;
    width: 129px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    padding: 10px 18px;
}

.land__button:hover {
    opacity: 70%;
}

.land__picture {
    width: 310px;
    height: 304px;
}

@media (max-width: 500px) {
    .land__picture {
        width: 210px;
        height: 206px;
    }
}

.description {
    padding: 112px 70px 80px;    
}

@media (max-width: 1024px) {
    .description {        
        padding: 90px 50px 60px; 
    }
}

@media (max-width: 450px) {
    .description {        
        padding: 71px 18px 61px; 
    }
}

.description__stages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-inline: unset;
    margin: 70px 0 110px;
    gap: 52px;
}

@media (max-width: 1024px) {
    .description__stages {        
        gap: 36px;
        margin-bottom: 92px;
    }
}

@media (max-width: 450px) {
    .description__stages {        
        flex-direction: column;
        margin: 60px 0 60px;
        gap: 58px;
    }
}

.description__stages-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0;
}

@media (max-width: 1024px) {
    .description__stages-text {        
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0;
    }
}

@media (max-width: 450px) {
    .description__stages-text {        
        font-size: 11px;
        line-height: 16px;
        margin: 14px 0 0;
    }
}

.description__stages-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin: 0;
    letter-spacing: -0.04em;
}

@media (max-width: 450px) {
    .description__stages-title {        
        font-size: 18px;
        line-height: 22.2px;
    }
}

.description__timing {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 14px 0;
    list-style: none;
    padding-inline: unset;
}

@media (max-width: 1024px) {
    .description__timing {
        grid-template-columns: 140px auto;
    }
}

@media (max-width: 450px) {
    .description__timing {
        grid-template-columns: 100px auto;
    }
}

.description__timing-text {
    font-style: normal;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

@media (max-width: 450px) {
    .description__timing-text {
        font-size: 11px;
        line-height: 14px;;
    }
}

.description__timing-title {
    background-color: #303030;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.24px;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}

@media (max-width: 1024px) {
    .description__timing-title {
        line-height: 18.24px;
    }
}

@media (max-width: 450px) {
    .description__timing-title {
        font-size: 11px;
        line-height: 17.24px;
    }
}

.description__timing-title_colored {
    background-color: #3DDC84;
    color: #000;
}

.technologies {
    background-color: #272727;
    padding: 100px 70px;
}

@media (max-width: 1024px) {
    .technologies {
        padding: 90px 50px;
    }
}

@media (max-width: 450px) {
    .technologies {
        padding: 50px 18px;
        background-color: #202020;
    }
}

.technologies__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 90px 0 26px;
    text-align: center;
    letter-spacing: -0.04em;
}

@media (max-width: 1024px) {
    .technologies__title {
        margin: 80px 0 21px;
    }
}

@media (max-width: 450px) {
    .technologies__title {
        margin: 59px 0 22px;
        font-size: 30px;
        line-height: 38px;
    }
}

.technologies__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 460px;
    text-align: center;
    letter-spacing: -0.04em;  
}

@media (max-width: 1024px) {
    .technologies__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 450px) {
    .technologies__text {
        font-size: 11px;
        line-height: 17px;
    }
}

.technologies__elements {
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline: unset;
    justify-content: center;
    gap: 10px;
    max-width: 690px;
}

@media (max-width: 1024px) {
    .technologies__elements {
        margin: 85px auto 0;
    }
}

@media (max-width: 450px) {
    .technologies__elements {
        display: grid;
        grid-template-columns: 84px 84px;
        margin: 48px auto 0;
    }
}

.technologies__element {
    margin: 0;
    min-width: 90px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
    padding: 21px 0 22px;
}

@media (max-width: 1024px) {
    .technologies__element {
        min-width: 84px;
        font-size: 12px;
        line-height: 13.94px;
    }
}

.student {    
    padding: 112px 70px 100px;
}

@media (max-width: 1024px) {
    .student {
        padding: 90px 50px 90px;
    }
}

@media (max-width: 450px) {
    .student {
        padding: 90px 15px 98px;
    }
}

.student__container {
    display: flex;
    flex-direction: row;
    padding-top: 66px;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .student__container {
        flex-direction: column-reverse;
        padding-top: 60px;
        gap: 40px;
    }
}

.student__name {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    letter-spacing: -0.04em;
}

@media (max-width: 1024px) {
    .student__name {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 450px) {
    .student__name {
        font-size: 30px;
        line-height: 36px;
    }
}

.student__about {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 18px 0 26px;    
}

@media (max-width: 1024px) {
    .student__about {
        font-size: 12px;
        line-height: 18px;
        margin: 16px 0 20px;
    }
}

@media (max-width: 450px) {
    .student__about {
        font-size: 11px;
        line-height: 16px;
        margin: 20px 0 20px; 
    }
}

.student__info {
    max-width: 600px;
}

.student__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

@media (max-width: 1024px) {
    .student__text {
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
    }
}

@media (max-width: 450px) {
    .student__text {
        font-size: 11px;
        line-height: 16px; 
    }
}

.student__link {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    margin: 99px 0 0;
    text-decoration: none;
    cursor: pointer;
}

.student__link:hover {
    opacity: 70%;
}

.student__photo {
    max-width: 270px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .student__photo {
        max-width: 255px;
    }
}

@media (max-width: 450px) {
    .student__photo {
        max-width: 292px;
    }
}

.portfolio {
    padding: 0 70px 90px;
}

@media (max-width: 1024px) {
    .portfolio {
        padding: 0 50px 55px;
    }
}

@media (max-width: 450px) {
    .portfolio {
        padding: 0 15px 40px;
    }
}

.portfolio__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 0 0 19px;
}

@media (max-width: 450px) {
    .portfolio__container {
        padding-bottom: 20px;
    }
}

.portfolio__container_underlined {
    border-bottom: 1px #424242 solid;
}

.portfolio__types {
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline: unset;
}

@media (max-width: 1024px) {
    .portfolio__types {
        margin: 45px auto 0;
    }
}

@media (max-width: 450px) {
    .portfolio__types {
        margin: 45px auto 0;
    }
}

.portfolio__type {
    font-size: 30px;    
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    letter-spacing: -0.04em;
}

.portfolio__type:hover {
    opacity: 70%;
}

@media (max-width: 1024px) {
    .portfolio__type {
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    .portfolio__type {
        font-size: 18px;    
        line-height: 28px;
    }
}

.portfolio__title {
    font-size: 18px;    
    line-height: 20px;
    font-weight: 400;
    color: #8B8B8B;
    margin: 0;
}

@media (max-width: 450px) {
    .portfolio__title {
        font-size: 14px;    
        line-height: 14px;
    }
}

.portfolio__link {
    background-image: url("../../images/arrow.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 29px;
    height: 60px;
    cursor: pointer;
    padding: 0;
}

.portfolio__link:hover {
    opacity: 70%;
}

@media (max-width: 450px) {
    .portfolio__link {
        width: 18px;
        height: 28px;
        background-size: 12px 28px;
    }
}