.student__photo {
    max-width: 270px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .student__photo {
        max-width: 255px;
    }
}

@media (max-width: 450px) {
    .student__photo {
        max-width: 292px;
    }
}