.portfolio {
    padding: 0 70px 90px;
}

@media (max-width: 1024px) {
    .portfolio {
        padding: 0 50px 55px;
    }
}

@media (max-width: 450px) {
    .portfolio {
        padding: 0 15px 40px;
    }
}