.search {
    text-align: center;
    padding: 70px 70px 48px;
}

@media (max-width: 1024px) {
    .search {
        padding: 75px 30px 55px;
    }
}

@media (max-width: 450px) {
    .search {
        padding: 77px 12px 55px;
    }
}