.land {
    display: flex;
    position: relative;
    align-content: space-between;
    background-color: #073042;
    column-gap: 190px;
    padding: 73px 70px;
}

@media (max-width: 1024px) {
    .land {
        flex-direction: column-reverse;
        gap: 48px;
        align-items: center;
        padding: 139px 70px 77px;
    }
}

@media (max-width: 500px) {
    .land {
        gap: 44px;
        padding: 68px 30px 30px;
    }
}