.student__link {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    margin: 99px 0 0;
    text-decoration: none;
    cursor: pointer;
}

.student__link:hover {
    opacity: 70%;
}