.cards__add-button {
    color: #FFF;
    padding: 11px 148px 9px;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    border: #424242 solid 1px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
}

.cards__add-button:hover {
    opacity: 0.7;
}

@media (max-width: 450px) {
    .cards__add-button {
        padding: 11px 106px 9px;
    }
}