.technologies {
    background-color: #272727;
    padding: 100px 70px;
}

@media (max-width: 1024px) {
    .technologies {
        padding: 90px 50px;
    }
}

@media (max-width: 450px) {
    .technologies {
        padding: 50px 18px;
        background-color: #202020;
    }
}