.student {    
    padding: 112px 70px 100px;
}

@media (max-width: 1024px) {
    .student {
        padding: 90px 50px 90px;
    }
}

@media (max-width: 450px) {
    .student {
        padding: 90px 15px 98px;
    }
}