.search__shorts-button {
    display: block;
    appearance: none;
    background: url("../../../images/smalltumboff.png") no-repeat 0 0;
    border: 0;
    width: 36px;
    height: 20px;
    margin: 0;
}

.search__shorts-button:checked {
    background: url("../../../images/smalltumb.png");
}