.description__timing-title {
    background-color: #303030;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.24px;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}

@media (max-width: 1024px) {
    .description__timing-title {
        line-height: 18.24px;
    }
}

@media (max-width: 450px) {
    .description__timing-title {
        font-size: 11px;
        line-height: 17.24px;
    }
}