.description__timing-title {
    background-color: #303030;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.24px;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}