.page-error {
    text-align: center;
    padding: 246px 0 100px;
}

@media (max-width: 1024px) {
    .page-error {
        padding: 408px 0 222px;
    }
}

@media (max-width: 450px) {
    .page-error {
        padding: 330px 0 30px;
    }
}