.header {
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
    margin: auto;
}

@media (max-width: 1024px) {
    .header {
    padding: 18px 30px;
    }
}

@media (max-width: 450px) {
    .header {
    padding: 18px 14px;
    }
}