.description__stages-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0;
}

@media (max-width: 1024px) {
    .description__stages-text {        
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0;
    }
}

@media (max-width: 450px) {
    .description__stages-text {        
        font-size: 11px;
        line-height: 16px;
        margin: 14px 0 0;
    }
}